main {
  padding: 0 30px;
    margin: 0 auto;
}

.container-nav {
  	padding: 0 30px;
  	margin: 0 auto;
}

.logo-box {
  	float: left;
}

.logo-box a {
  	outline: none; 
}

.logo-box img {
	display: block;
	width: 120px;
}

nav {
  	overflow: hidden;
}

ul {
  	list-style: none;
  	padding: 0;
  	float: right;
}

nav li {
  	display: inline-block;
  	margin-left: 25px;
  	height: 70px;
  	line-height: 70px;
  	transition: .5s linear;
}

nav a {
  	text-decoration: none;
  	display: block;
  	position: relative;
  	color: #000;
  	font-size: 18px;
}

nav a i {
	color: #5383d3;
}

nav a:hover {
	color: #5383d3;
}

div.navbar
{
   
    text-align:center;
    font-size:0;
    height: 25px;    
       
}

div.navbar a
{
    display: inline-block;
    padding: 0 20px;
    margin-right:1px; 
    background:#F7F7F7;
    color:Black;
    text-decoration:none;
    font: normal 12px Arial;
    line-height: 24px;
    border:1px solid #CAD0DB;
    border-bottom:0;
    color:#666;
    vertical-align:top;
    text-decoration:none;
}

div.navbar a:hover, div.navbar a.current
{
    background:#E9ECF0;
    line-height: 25px;
    color:#000;
}

div.navbar-sub
{
    height:6px;
    border:1px solid #CAD0DB;
    background:#E9ECF0;
    margin-bottom: 20px;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: #000;
  font-size: 30px;
  display: none;
}

#carousel-container img{
  width: 100%; 
  height: 470px;
  object-fit: cover;
}

form.search input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
  max-width:300px;
  border-radius: 25px 0 0 25px;
  outline: none;
}

form.search button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
   border-radius: 0 25px 25px 0;
   outline: none;
}

form.search button:hover {
  background: #0b7dda;
}

.row {
  display: flex;
  padding-bottom: 30px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown select {
  background-color: #5383d3;
  color: #fff;
  font-size: inherit;
  padding: 8px;
  padding-right: 40px; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  outline: none; 
}


.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  width: 32px;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  outline: none;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 30px 0 0;
    flex-direction: row;
    justify-content: center;
}

.index h4 {
  color: black;
}

.index h4:hover {
  color: #5383d3;
}

.column-item { 
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding-bottom: 30px;
  overflow: hidden;
  margin: 0 10px 30px;
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease;
}

.item-image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.item a {
    color: #26a8ed;
    text-decoration: none;
    background-color: transparent;
}

.item img {
    width: auto;
    height: 200px;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover;
    text-align: center;
}

.post-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.inner {
  display: flex;
}

.post-image img {
  width: 100%;
  height: 200px;
  background: #c5d2d9 no-repeat 50%;
  background-size: cover;
  text-align: center;
  object-fit: cover;
}

.post-content h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-content p {
  width: 100%;
  margin-top: 0px;
}
.post-content span {
    font-weight: bold;
    color: #5383d3;
    margin-bottom: 10px;
}
.post-content p input {
  margin-left: 30px;
}
.post-content button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #5383d3;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.post-content button:hover {
  background-color: #406cb4
}

.checkout {
  width: 30%;
  margin-left: 50px;
}
.checkout h3 {
  text-align: center;
  font-size: 25px;
}

.checkout-product p {
  display: flex;
  justify-content: space-between;
}

.total span {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.command input {
  display: block;
  width: 100%;
}

.command .inline {
  width: unset;
}

.inline {
  display: inline-block !important;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  background-color: #5383d3;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 30px;
}

.container-about {
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  grid-gap: 20px;
}
                
.container-about .column-about {
  padding: 10px; 
} 

/*end about page*/

/*contact page*/
.container-contact {
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  grid-gap: 20px;
}
                
.container-contact .media {
  text-align: center;
  padding: 10px; 
} 
.container-contact .info {
  padding: 10px;
} 

.info p{
  font-size: 18px;
}

.email p a{
  text-decoration: none;
  color: #5383d3;
  font-weight: bold;
}

.media a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.media a:hover {
  background-color: #5383d3;
}
/*end contact page*/
footer{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 45px 50px;
  margin-top: 30px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
  display: inline-block;
  vertical-align: top;
}

footer .footer-left{
  width: 40%;
}


footer .footer-left img {
  width: 120px;
}


footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

footer .footer-links a:hover {
  color: #5383d3;
}

footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

footer .footer-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

footer .footer-center{
  width: 35%;
}

footer .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

footer .footer-center p a{
  color: #5383d3;
  text-decoration: none;;
}

footer .footer-right{
  width: 20%;
}

footer .footer-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

footer .footer-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-icons{
  margin-top: 25px;
}

footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

footer .footer-icons a:hover{
  background-color: #5383d3;
}

@media (max-width: 800px) {
  #carousel-container img{
    width: 100%; 
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  #carousel-container img{
    width: 100%; 
    height: 350px;
    object-fit: cover;
  }
}

@media (max-width: 400px) {
  #carousel-container img{
    width: 100%; 
    height: 300px;
    object-fit: cover;
  }
}

@media(max-width: 670px) {
  .toggle {
    display: block;
    margin-top: 25px;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}

@media(max-width: 670px){
  #carousel-container {
    margin-top: 30px;
  }
}

@media(max-width: 900px) {
  .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 200px;
  }
}

@media(max-width: 700px) {
  .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 200px;
  }
}

@media(max-width: 520px) {
  .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 200px;
  }
}

@media(max-width: 650px) {
  .container-about {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 200px;
  }
  #carousel-container {
      width: 100%;
      height: 100%; 
  } 
}

@media(max-width: 515px) {
  .container-contact {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 200px;
  }
}

@media(max-width: 870px) {
  footer .footer-right {
    display: block;
      width: 100%;
      padding-top: 20px;
    }
}

@media (max-width: 822px) {
  footer{
    font: bold 14px sans-serif;
  }

  footer .footer-left,
  footer .footer-center,
  footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  footer .footer-center i{
    margin-left: 0;
  }
}


@media (min-width: 979px) {
  .column-item {
    flex: 0 0 30%;
  }
  .index .column-item {
    flex: 0 0 20%;
  }
}

@media (max-width: 978px) {
  .index .column-item {
    flex: 0 0 30%;
  }
}

@media (max-width: 660px) {
  .index .column-item {
    flex: 0 0 40%;
  }
}

@media (max-width: 529px) {
  .index .column-item {
    flex: 0 0 50%;
  }
}

@media (max-width: 978px) {
  .column-item {
    flex: 0 0 30%;
  }
}

@media (max-width: 901px) {
  .column-item {
    flex: 0 0 50%;
  }
}